* {
  font-family: "Bebas Neue", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  box-sizing: border-box;
  transition: 0.5s;
  padding: 10px 100px;
  height: 100px;
}
nav .logo {
  float: left;
}
nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
  margin-top: 10px;
}
nav ul li a {
  list-style: 80px;
  color: #ffff;
  padding: 2px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  
}

nav ul li a.active,
nav ul li a:hover {
  color: rgb(250, 61, 61);
  background: #ffff;
}
nav.black {
  background: rgb(0, 0, 0);
  height: 80px;
  padding: 10px;
  z-index: 10000; 
}
.black .logo h2 {
 margin-left: 50px;
 margin-top: 10px;  
}


nav ul li a:hover {
  color: rgb(250, 61, 61);
  background: #ffff;
}

.padre {
  width: 500px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  object-fit: contain;
  position: relative;
  margin-top: 50px;
}

.contein {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: aqua;
}
.contein:hover {
  filter: blur(5px);
}

.caja {
  position: absolute;
  width: 500px;
  height: 100px;
}

.caja h1 {
  margin-top: 50px;
  z-index: 1000;
  color: white;
}

.caja1 {
  position: absolute;
  width: 500px;
  height: 70px;
  background-color: black;
  opacity: 50%;
}

video {
  width: 100%;
  filter: brightness(0.5);
}

.texto {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  z-index: 100000;
}

.texto h1 {
  font-size: 90px;
}

.texto2 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: flex-end;
  z-index: 10000;
  bottom: 400px;
  right: 115px;
}
.texto h2 {
  font-size: 50px;
}

.boton {
  position: absolute;
  width: 10rem;
  height: 5rem;
  border-style: solid;
  border-color: white;
  z-index: 1000;
  border-radius: 30px;
  margin-top: 35%;
}
.boton a {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.contenedor {
  display: flex;
  justify-content: center;
}

.hijo {
  width: 100%;
  height: 800px;
  display: flex;
  margin-top: 20px;
  border-radius: 50%;
}
.hijo img {
  display: flex;
  object-fit: cover;
  border-radius: 10%;
}

.hijo2 {
  width: 100%;
  height: 400px;
  margin-top: 300px;
}

.hijo2 p {
  text-align: center;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colornegro {
  background-color: black;
}

.boton1 {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px #ffff;
  color: #ffff;
  font-size: 30px;
}
.colorboton {
  background: rgb(255, 16, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 16, 0, 1) 0%,
    rgba(235, 78, 5, 1) 36%,
    rgba(222, 213, 72, 1) 100%
  );
}

.hijo3 {
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgv {
  display: flex;
  object-fit: cover;
}

.skills {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}

.skills p {
  color: white;
  font-size: 30px;
}

.skills2 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
}

.skills2 img {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.btn {
  transition: transform 250ms;
}

.btn:hover {
  transform: translateY(-10px);
}


.skillsredes img {
  margin: 10px;
  width: 150px;
  height: 150px;
}

/* ---------- SPONOSNRS ---------- */



.carousel__contenedor {

  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #ffff;
  z-index: 10000;
}

.carousel__siguiente {

  right: -10px;
}

.carousel__elemento {

  text-align: center;
  font-size: 50px;
  margin: auto;
}

.carousel__elemento { 
  margin-top: 50px;
  margin-bottom: 150px;
}
.contacto img{
  
  width: 150px;
  margin-top: 30px;
  margin-bottom: 130px;
  margin: 50px;
}

                /** RESPOSIVE**/
@media all and (max-width: 1220px) {
  
  .padre {
    width: 50%;
  }
  .caja1 {
    width: 100%;
  }
        /** parte diseñador **/
.texto h1 {
  font-size: 150px;
 margin-bottom: 351px;
}
.texto2 {
  margin-bottom: 270px;
  left: 5px;
}
.texto2 h2 {
  margin-top:20px;
  left: 5px;
}
.texto h2 {
  font-size: 20px;
}



@media all and (max-width: 898px) {
  .padre {
    width: 100%;
  }
  .caja {
    width: 100%;
    bottom: 20px;
    padding: auto;
  }

  .hijo2 {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
/** parte diseñador **/
.texto h1 {
    font-size: 50px;
   margin-bottom: 600px;
  }
  .texto2 {
    margin-bottom: 340px;
    left: 5px;
  }
  .texto2 h2 {
    margin-top:20px;
    left: 5px;
  }
  .texto h2 {
    font-size: 10px;
}
            


@media all and (max-width: 480px) {
  /** parte diseñador **/
  .texto h1 {
    font-size: 50px;
   margin-bottom: 600px;
  }
  .texto2 {
    margin-bottom: 340px;
    left: 5px;
  }
  .texto h2 {
    font-size: 10px;
  }

}
@media all and (max-width: 600px) {
  
  
}